@import "./../../../variables";


.accept-button {
  height: 50px;
  width: 185px;
  padding: 12px 16px;
  gap: 4px;
  border: 0px;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700;
  line-height: 20.72px;
  letter-spacing: -0.5px;
  text-align: center;
  background-color: $mainRedColor;
  color: white;


  &:hover {
    cursor: pointer;
  }
}
