@import "./../../../variables";

.accept-button {
  height: 63px;
  padding: 18px 30px 18px 30px;
  gap: 10px;
  border: 0;
  border-radius: 82px;
  background: $mainBlueColor;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;


  &:hover {
    cursor: pointer;
  }
}
