@import "src/variables";

.container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  max-height: 50px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $maxContentWidthVw;
    max-width: $maxCiteWidthPx;


    .menu {
      display: flex;
      justify-content: space-between;
      gap: 24px;

      @include for-size(xxl) {
        gap: 1.25vw;
      }

      @include for-size(xs) {
        display: none;
      }


      &__link {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.1px;
        color: white;


        &:hover {
          cursor: pointer;
        }
      }

    }

    &__controls {
      @include for-size(s) {
        display: none;
      }
    }
  }
}

