@import 'src/variables';


.container {
  margin-top: $defaultVerticalDistancePx;
  width: 100%;
  display: flex;
  justify-content: center;

  @include for-size(xxl) {
    margin-top: $defaultVerticalDistanceVw;
  }

  .content {
    max-width: $maxCiteWidthPx;
    width: $maxContentWidthVw;
  }
}
