@import 'src/variables';

.container {
  margin-top: $defaultVerticalDistancePx;
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    margin: 0 auto;
    width: 66.718vw;
    margin: 0 8.4375vw;
    max-width: $maxCiteWidthPx;
  }
}
