@import 'src/variables';

.container {
  margin: $defaultVerticalDistance auto;
  max-width: $maxCiteWidthPx;
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    width: 66.718vw;
    max-width: $maxCiteWidthPx;
    margin: 0 8.4375vw;
  }
}
