@import 'src/variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dots {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .main {
    width: 100%;
    max-width: $maxCiteWidthPx;
    max-height: 636px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 51px 8.4375vw 0;


    @include for-size(xxl) {
      margin-top: 2.656vw;
      max-width: 83.125vw;
    }


    @include for-size(xl) {
      margin-top: 2vw;
    }


    @include for-size(l) {
      margin-top: 1.5vw;
    }


    &__info {
      max-width: 755px;
      width: 39.32vw;
      min-width: 550px;
      padding-bottom: 8px;


      &__header {
        @include h1();
        color: black;

        &__fintech {
          color: $mainBlueColor;
        }
      }


      &__description {
        margin-top: 24px;
        margin-bottom: 48px;
        @include descriptionText1();
      }
    }

    &__img {
      width: 32.7vw;
      height: 32.7vw;
      max-width: 628px;
      max-height: 628px;
    }
  }
}
