@import "src/variables";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .image {
    max-width: 66.718vw;

    @include for-size(xl) {
      width: 55vw;
      min-width: 650px;
    }


  }

  .header {
    @include h1();
    text-align: center;
    color: $mainBlueColor;
    margin-bottom: 4.765vw;

    @include for-size(xl) {
      max-width: 90%;
    }
  }
}
