@import "src/variables";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .image {
    max-width: 100%;

    @include for-size(xl) {
      max-width: 80%;
    }

    @include for-size(l) {
      max-width: 60%;
    }
  }

  .header {
    @include h1();
    text-align: center;
    color: $mainBlueColor;
    @include for-size(xl) {
      max-width: 90%;
    }
  }
}
