@import "src/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #F4F7FA;

  .content {
    position: relative;
    margin: 70px 0;
    max-width: $maxCiteWidthPx;
    width: $maxContentWidthVw;
    padding: 80px;

    @include for-size(xxl) {
      margin: 3.645vw;
      padding: 4.166vw;
    }


    .header {
      @include h1();
      line-height: 58px;
      color: #161C2D;
      text-align: center;
    }
  }

  .get-consultation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

    @include for-size(l) {
      flex-direction: column;
      justify-content: unset;
    }

    form {
      min-width: 480px;
      max-width: 594px;
      width: 30.9375vw;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include for-size(l) {
        width: 100%;
        max-width: unset;
      }

      @mixin base-input() {
        padding: 8px 12px 8px 12px;
        border-radius: 2px;
        border: 1px solid #D9D9D9;
        font-family: 'Rubik';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        width: calc((100% - 14px) / 2);
        margin-bottom: 20px;
        transition: outline .1s ease-in;
      }

      @mixin big-input() {
        @include base-input();
        width: 100%;
      }

      .base-input {
        @include base-input();

        &_error {
          @include base-input();
          outline: 2px solid red;
        }

        &:focus-visible {
          outline: 2px solid #161C2D;
        }
      }

      .big-input {
        @include big-input();

        &:focus-visible {
          outline: 2px solid #161C2D;
        }
      }

      .accept {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
        font-family: 'Rubik';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: #656567;

        span {
          color: $mainRedColor;
          text-decoration: underline;
        }

        @mixin checkbox() {
          width: 16px;
          height: 16px;
          border-radius: 2px;
          border: 1px solid #D9D9D9;
          transition: outline .1s ease-in;
        }

        .checkbox {
          @include checkbox();

          &_error {
            @include checkbox();
            outline: 2px solid red;
          }
        }

      }


      .user-message {
        width: 100%;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: black;
        margin-top: 10px;
      }

      .form-button {
        margin-top: 48px;
      }

    }

    .contacts {
      min-width: 440px;
      max-width: 542px;
      width: 28.22vw;

      @include for-size(l) {
        margin-top: 50px;
        width: 100%;
        max-width: unset;
      }

      &__header {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        text-align: left;
        color: black;
        margin-bottom: 12px;
        text-align: left;
      }

      &__description {
        font-family: Rubik;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        color: #656567;
        margin-bottom: 16px;
      }

      &__mail-to, &__phone {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        text-decoration: underline;
        color: $mainRedColor;
      }

    }
  }
}
