@import "../../variables";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 52px;
  height: 95px;

  @include for-size(l) {
    top: 26px;
    height: 65px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2128px;
    width: 83.125%;
    height: 95px;
    border-radius: 100px;
    background: #F7F7F8;
    padding: 0 34px;

    @include for-size(xxxl) {
      max-width: $maxCiteWidth;
    }

    @include for-size(l) {
      height: 65px;
    }

    .menu {
      display: flex;
      gap: 26px;


      &__link {
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;

        &:hover {
          cursor: pointer;
        }
      }

    }

    &__controls {
      @include for-size(l) {
        display: none;
      }
    }
  }
}

