@import "src/variables";

.container {
  background-color: white;
  width: 35vw;
  border-radius: 5px;

  .title {
    padding: 0.8rem;
    font-size: 24px;
    border-bottom: 1px solid #aaa;
    text-align: center;
    color: black;
    font-family: Roboto;
    font-weight: 500;
  }

  .info {
    padding: 1rem;
    color: #656567;
    font-size: 18px;
  }

  .mail-to {
    text-decoration: underline;
    color: $mainBlueColor;
  }

  .footer {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
  }
}
