@import 'src/variables';

.container {
  margin-top: 70px;
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(225deg, #313C59 0%, #161C2D 100%);


  @include for-size(xxl) {
    margin-top: 3.645vw;
    padding: 4.166vw 0;
  }

  .content {
    max-width: $maxCiteWidthPx;
    width: $maxContentWidthVw;
  }
}
