@import "src/variables";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @mixin common-block-params() {
    width: 100%;
    margin-top: $defaultVerticalDistancePx;
    display: flex;
    padding-bottom: 50px;

    @include for-size(xxl) {
      padding-bottom: 2.6vw;
    }
  }


  .common-info {
    @include common-block-params();
    margin-top: $defaultVerticalDistancePx;
    width: 83.125vw;
    max-width: $maxCiteWidthPx;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;

    @include for-size(xxl) {
      margin-top: 7.8125vw;
    }

    &__navigation {
      margin-top: 50px;
      display: flex;
      gap: 26px;

      @include for-size(xxl) {
        margin-top: 2.604vw;
      }

      &__link {
        font-family: 'Rubik';
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: #161C2D;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .contacts {
    @include common-block-params();
    margin-top: 50px;
    width: 83.15vw;
    max-width: $maxCiteWidthPx;
    border-bottom: 1px solid #D8D8D8;
    justify-content: center;
    gap: 20px;

    @include for-size(xxl) {
      margin-top: 2.6vw;
    }

    @mixin item-base() {
      display: flex;
      align-items: center;
      font-family: Rubik;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      color: #161C2D;
      text-decoration: none;
      gap: 6px;
    }

    &__item {
      @include item-base();

      &_non-clickable {
        @include item-base();
        &:hover {
          cursor: unset;
        }
      }
    }
  }

  .organization-info {
    @include common-block-params();
    justify-content: center;
    margin-top: 50px;
    width: 83.125vw;
    max-width: $maxCiteWidthPx;

    @include for-size(xxl) {
      margin-top: 2.6vw;
    }

    &__content {
      display: flex;
      justify-content: center;
      width: 100%;


      &__requisites {
        width: 100%;
        max-width: 1596px;
        padding: 16px 30px;

        &__item {
          font-family: 'Rubik';
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          text-align: center;
          color: #B3B3B3;
        }
      }
    }

  }
}
