//variables

$defaultVerticalDistancePx: 150px;
$defaultVerticalDistanceVw: 7.8125vw;
$minifiedVerticalDistance: 50px;
$defaultHorizontalDistance: 162px;
$minifiedHorizontalDistance: 15px;


$mainHeader1FontSize: 48px;
$minifiedHeader1FontSize: 32px;
$mainHeader1LineHeight: 65px;
$minifiedHeader1LineHeight: 38px;
$mainHeader2FontSize: 32px;
$mainHeader2LineHeight: 48px;
$mainHeader3FontSize: 30px;
$mainHeader3LineHeight: 45px;
$mainHeader4FontSize: 24px;
$mainHeader4LineHeight: 28px;

$maxCiteWidthPx: 1596px;


//colors

$mainRedColor: #F74D4D;

$mainBlueColor: #338BFF;
$backgroundColor1: #FFFFFF;
$backgroundColor2: #3363FF08;


@mixin h1() {
  font-family: 'Montserrat';
  font-size: $mainHeader1FontSize;
  font-weight: 700;
  line-height: $mainHeader1LineHeight;
  text-align: left;
  letter-spacing: -1.8px;


  //@include for-size(xxl) {
  //  font-size: 2.5vw;
  //  line-height: 3.38vw;
  //}
  //
  //@include for-size(xl) {
  //  letter-spacing: 0px;
  //}
}

@mixin descriptionText1() {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #656567;
}

@mixin horizontalMargin() {
  @include for-size(xl) {
    margin-left: auto;
    margin-right: auto;
  }
}


@mixin for-size($breakpoint) {
  @if ($breakpoint == xxs) {
    @media screen and (max-width: 320px) {
      @content
    }
  } @else if ($breakpoint == xs) {
    @media screen and (max-width: 480px) {
      @content
    }
  } @else if ($breakpoint == s) {
    @media screen and (max-width: 768px) {
      @content
    }
  } @else if ($breakpoint == m) {
    @media screen and (max-width: 1024px) {
      @content
    }
  } @else if ($breakpoint == l) {
    @media screen and (max-width: 1280px) {
      @content
    }
  } @else if ($breakpoint == xl) {
    @media screen and (max-width: 1600px) {
      @content
    }
  } @else if ($breakpoint == xxl) {
    @media screen and (max-width: 1920px) {
      @content
    }
  } @else if ($breakpoint == xxxl) {
    @media screen and (max-width: 2540px) {
      @content
    }
  }

}

@mixin closeModal() {
  opacity: 0;
  animation: hideAni .2s ease-in;

  @keyframes hideAni {
    100% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }
}
