@import "src/variables";

.container {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .img {
    width: 42px;
    height: 40px;
  }

  @mixin caption-base() {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.44px;
    letter-spacing: -0.13px;
    text-align: left;
    margin-left: 16px;
  }

  .caption {

    &_black {
      @include caption-base();
      color: #161C2D;

      &_can-hide {
        @include caption-base();
        color: #161C2D;
        @include for-size(l) {
          display: none;
        }
      }
    }

    &_white {
      @include caption-base();
      color: white;

      &_can-hide {
        @include caption-base();
        color: white;
        @include for-size(m) {
          display: none;
        }
      }
    }

  }
}
