@import "src/variables";

.container {
  width: 162px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .img {
    width: 40px;
    height: 40px;
  }

  .caption {
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    color: $mainBlueColor;
  }
}
