@import "src/variables";

.container {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .img {
    width: 40px;
    height: 40px;
  }

  @mixin caption-base() {
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    margin-left: 16px;
    color: $mainBlueColor;
  }

  .caption {
    @include caption-base();

    &_can-hide {
      @include caption-base();

      @include for-size(l) {
        display: none;
      }
    }
  }
}
